.navbar-container{
  display: flex;
  align-items: center;
  padding: 15px 30px;
  border: none;
  box-shadow: 0 3px 9px lightgray;
  background-color: white;
}

.logo-img{
  height: 40px;
  margin-right: 10px;
}

.website-title{
  color: orangered;
  font-size: 25px;
}